body{
  background-color: #778beb;
  text-align: center;
}

.container{
  display: grid;
  background-color: white;
  border-radius: 50px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0px 10% 0px 10%;
}
.box1_1{
  display: inline-block;
  text-align: right;
  vertical-align: center;
}
.box1_2{
  display: inline-block;
  text-align: left;
  vertical-align: center;
}

#title {
  color: #303952;
}

#description {
  color: #303952;
  font-size: 1.1em;
}

#survey-form {
  color: #303952;
}

#name{
  margin: 0px, 0px, 0px, 10px;
}

#email{
  margin: 0px, 0px, 0px, 10px;
}
