body{
  background-color: #778beb;
  text-align: center;
  margin: 50px 0px 50px 0px;
  font-family: 'Shrikhand', cursive;
}

input:invalid {
  border: 2px dashed black;
}

input:valid {
  border: 2px solid black;
}

.container{
  display: grid;
  background-color: white;
  border-radius: 50px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0px 10% 0px 10%;
  padding: 10px;
}
.box1_1{
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px 10px 0px;
  align-items: flex-start;
  font-family: 'Quicksand', sans-serif;

}
.box1_2{
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px 10px 0px;
  align-items: flex-start;
  font-family: 'Quicksand', sans-serif;

}

.radio, .checkbox {
  text-align: left;
  position: relative;
  left: -40px;
}

#title {
  color: black;
}

#description {
  color: #303952;
  font-size: 1.1em;
}

#survey-form {
  color: #303952;
}

#name{
  margin: 0px, 0px, 0px, 10px;
  width : 200px;
}

#email{
  margin: 0px, 0px, 0px, 10px;
  width : 200px;
}

#number {
  width : 200px;
}

#name-label{
  
}
#email-label{
  
}
#number-label{
  
}

#dropdown{
  width: 200px;
}

#submit{
  font-size: 0.9em;
  background-color: #303952;
  color: white;
  height: 40px;
  width: 80px;
}
